.experience-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    background-color: whitesmoke;
    padding: 5% 3%;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .exp-bar{
        width: 100%;
        border: 1px solid black;
        height: max-content;
    }
    .exp-container{
        display: flex;
        width: 100%;
        button{
            height: max-content;
        }
        .exp-item-container{
            margin-left: 10%;
            width: 70%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .exp-item{
                width: 30%;
                margin-bottom: 5%;
            }
        }
    }
}
@media (max-width: 768px) {
    .experience-outer-container{
        height: max-content;
        .exp-container{
            flex-direction: column;
            margin-top: 10px;
            button{
                margin-bottom: 20px;
                padding: 2% 5%;
                width: 30%;
            }
            .exp-item-container{
                margin: 0;
                width: 100%;
            }
        }
    }
}