.skillset-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    background-color: whitesmoke;
    padding: 5% 3%;

    .skillset-container{
        display: flex;
        justify-content: space-between;
        h5, .skills-container {
            width: 45%;
        }
        .skills-list{
            h6{
                font-size: 1.3rem !important;
                text-decoration: underline;
                margin-top: 15px;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    list-style: none;
                    width: 50%;
                    margin-top: 10px;
                }
            }
        }
    }
    // the approach bar shall expand on scroll. 
    .approach-bar{
        margin: 0px;
        width: 5rem;
        border: 1px solid black;
        align-self: flex-start;
    }
    .approach-container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        button{
            height: max-content;
        }
        .approach-item-container{
            width: 70%;
            display: flex;
            justify-content: space-between;
            .approach-item{
                width: 25%;
            }
        }
    }
}
@media (max-width: 900px) {
    .skillset-outer-container{
        height: 75vh;
    }
}
@media (max-width: 768px) {
    .skillset-outer-container{
        height: 90vh;
        .skillset-container{
            flex-direction: column;
            h5{
                width: 100%;
                margin-bottom: 80px;
            }
            .skills-container{
                width: 100%;
                .skills-list{
                    margin-top: 40px;
                    ul{
                        padding: 0;
                    }
                }
            }
        }
    }
}