@import '../../styles/variables';
.hero-container{
    display: flex;
    word-break: break-word;
    overflow: scroll;
    height: 200vh;
    h1{
        position: relative;
        width: 50rem;
        transform: rotate(-3deg) skew(0deg, -3deg);
        left: 10rem;
        // top: 5rem;
    }
    img{
        z-index: 0;
    }
}
.menu-item{
    background-color: whitesmoke;
    padding: 5% 10%;
    margin: 2rem;
}
.menu-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    width: 100vw;
    top: 40vh;
}