.contact-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
        button{
            width: max-content;
        }
    }
    .footer-menu{
        display: flex;
        justify-content: space-between;
        width: 92%;
        padding: 2% 3%;
        .socials{
            display: flex;
            p{
                margin-right: 10px;
            }
        }
    }
}