@import '../../../styles/variables';
.about-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72vh;
    background-color: whitesmoke;
    padding: 5% 3%;
    .about-container{
        display: flex;
        img{
            border-radius: 50%;
            margin-left: 5rem;
        }
        h6{
            width: 30rem;
            margin-left: 20rem;
        }
    }
    .myrole-container{
        display: flex;
        .role-summary{
            width: 20%;
            margin-right: 6%;
            p{
                margin-top: 4%;
            }
        }
        div:nth-child(4){
            display: flex;
            align-self: flex-end;
            width: 20%;
            justify-content: flex-end;
            button{
                padding: 2% 5%;
            }
        }
    }
}
@media(max-width: 900px) {
    .about-outer-container{
        height: 80vh;
        .myrole-container{
            flex-wrap: wrap;
            justify-content: center;
            .role-summary{
                width: 23%;
            }
            div:nth-child(4){
                width: 100%;
                justify-content: center;
                button{
                    padding: 1% 2.5%;
                    margin-top: 4%;
                }
            }
        }
    }   
}
@media(max-width: 768px) {
    .about-outer-container{
        height: 90vh;
        padding: 6% 4%;
        .about-container{
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            h6{
                margin: 0;
                margin-top: 10px;
                width: auto;
            }
        }   
        .myrole-container{
            .role-summary{
                width: 100% !important;
                margin-bottom: 20px;
                p{
                    margin-top: 2%;
                }
                box-shadow: 10px 10px rgba(0,0,0,0.2);
            }
            div:nth-child(4){
                button{
                    margin-top: 2%;
                }
            }
        }
    }   
}